<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_content(title)">
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">[[${title}]]</h4>
				<form class="validation-form" novalidate action="m_updateOK"
					method="post">

					<div class="mb-3">
						<label for="id">NUM</label> : <span th:text="${vo2.num}"></span> <input type="hidden" class="form-control"
							name="num" id="num" placeholder="" th:value="${vo2.num}" required>
						<div class="invalid-feedback"></div>
					</div>
					<div class="mb-3">
						<label for="id">ID</label> : <span th:text="${vo2.id}"></span> <input type="hidden" class="form-control"
							name="id" id="id" placeholder="" th:value="${vo2.id}" required>
						<div class="invalid-feedback"></div>
					</div>
					<div class="mb-3">
						<label for="pw">PW</label> :  <input type="password"
							class="form-control" name="pw" id="pw" placeholder=""
							th:value="${vo2.pw}" required>
						<div class="invalid-feedback">PW 입력해주세요.</div>
					</div>
					<div class="mb-3">
						<label for="name">NAME</label> <input type="text"
							class="form-control" name="name" id="name" placeholder=""
							th:value="${vo2.name}" required>
						<div class="invalid-feedback">NAME 입력해주세요.</div>
					</div>
					<div class="mb-3">
						<label for="tel">TEL</label> <input type="text"
							class="form-control" name="tel" id="tel" placeholder=""
							th:value="${vo2.tel}" required>
						<div class="invalid-feedback">TEL 입력해주세요.</div>
					</div>


					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="aggrement"
							checked required> <label class="custom-control-label"
							for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
					</div>
					<div class="mb-4"></div>
					<button class="btn btn-primary btn-lg btn-block" type="submit">수정
						완료</button>
				</form>
			</div>
		</div>
	</div>
</div>
</html>